<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#fafafa" />
    
    <!-- css  -->
    <link rel="stylesheet" href="" media="screen" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">

    <!-- title -->
    <title>My Boilerplate for React</title>


  </head>
  <body class="container">